@import "fonts.css";

$mainFrame: 1024px;
$color: blue;
$font-size: 24px;
$vertical: 200px;
$horizontal: 236px;

%image-style {
  background: no-repeat center center;
  background-size: cover;
  margin: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
  //overflow: hidden;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  cursor: pointer;
  &:hover .down {
    opacity: 1;
  }
}

body{
  max-width: $mainFrame;
}
.main-wrapper{
  background: #f0f3f6;
  font-family: open_sans, sans-serif, Arial;
}

.main-header{

  font-weight: bold;

  h1 {color: #8499a7;
    font-size: $font-size;
    span {
      color: #21b8c6;
    }
  }
}
.horizontal-image-wrapper{
  @extend %image-style;
  //background-image: url("../images/1.jpg");
  width: 2 * $horizontal + 10px;
  height: $vertical;
}
.vertical-image-wrapper{
  @extend %image-style;
  //background-image: url("../images/2.jpg");
  width: $horizontal;
  height: 2 * $vertical +10px;
}
.box-image-wrapper{
  @extend %image-style;
  //background-image: url("../images/3.jpg");
  width: $horizontal;
  height: $vertical;
}
.down {
  width: 100%;
  height: 60px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  border-radius: 0 0 4px 4px;
  transition: opacity 0.4s ease-in-out;
  .circle{
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #a0b0ba;

    z-index: 1;
    text-align: center;
    background: #ffffff;
    span{
      display: inline;
      font-family: open_sans arial sans-serif;
      font-weight: bold; // must be 500 but bold looks like in photoshop
      color: #0d7f8a;
      font-size: 11px;
      vertical-align: text-top;
    }
  }
}

%sprite{
  position: absolute;
  top: 15px;
  width: 33px;
  height: 30px;
  background: url("../images/like.png") no-repeat;

}
.like{
  @extend %sprite;
  right: 13px;
  background-position: -33px 0;
}
.dislike{
  @extend %sprite;
  right: 68px;
  background-position: -66px 0;
}
.comments{
  @extend %sprite;
  left: 15px;}