@font-face {
  font-family: 'open_sans';
  src: url("fonts/opensans-bold.woff2") format("woff2"), url("fonts/opensans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'open_sans';
  src: url("fonts/opensans-regular.woff2") format("woff2"), url("fonts/opensans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sans';
  src: url("fonts/opensans-semibold.woff2") format("woff2"), url("fonts/opensans-semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.center-wrapper:after, .main-wrapper:after, .image-wrapper:after, .pv-wrapper:after, .pv-comments-wrapper:after, .pvc-input-form:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0; }

.horizontal, .vertical, .square, .pv-wrapper {
  -webkit-box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5); }

.horizontal, .vertical, .square, .pv-image-wrapper .pv-image {
  background: no-repeat center center;
  background-size: cover; }

html:not(.touch-device) body, .pv-image-wrapper .pv-like-wrapper #pv-like, .pv-image-wrapper .pv-like-wrapper #pv-dislike, #pvci-send, .add-file-wrapper .af-label .af-circle {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center; }

.horizontal, .vertical, .square {
  margin: 5px;
  border-radius: 5px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  cursor: pointer; }
  .horizontal:hover .down, .vertical:hover .down, .square:hover .down {
    opacity: 1; }

html:not(.touch-device) {
  height: 100%; }

body {
  background-color: #FFFFFF; }

html:not(.touch-device) body {
  height: 100%; }

.center-wrapper {
  max-width: 1024px;
  position: relative;
  background: #f0f3f6; }

.main-wrapper {
  font-family: open_sans, sans-serif, Arial;
  font-size: 14px;
  overflow-x: auto;
  padding-bottom: 30px;
  margin: 0 20px; }

.main-header {
  position: relative;
  z-index: 200; }
  .main-header h1 {
    color: #8499a7;
    font-family: open_sans, sans-serif, Arial;
    font-size: 24px;
    padding-left: 25px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 100; }
    .main-header h1 span {
      color: #21b8c6; }

#content-wrapper {
  height: 635px; }

.horizontal {
  width: 482px;
  height: 200px; }

.vertical {
  width: 236px;
  height: 410px; }

.square {
  width: 236px;
  height: 200px; }

.down {
  width: 100%;
  height: 60px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  border-radius: 0 0 4px 4px;
  transition: opacity 0.4s ease-in-out; }

.circle {
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #a0b0ba;
  z-index: 1;
  text-align: center;
  background: #ffffff; }
  .circle span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline;
    font-family: open_sans arial sans-serif;
    font-weight: bold;
    color: #0d7f8a;
    font-size: 11px;
    vertical-align: text-top; }

.like, .dislike, .comments, .pvci-sprite {
  position: absolute;
  top: 15px;
  width: 33px;
  height: 30px;
  background: url("../images/like.png") no-repeat; }

.like {
  right: 13px;
  background-position: -33px 0; }

.dislike {
  right: 68px;
  background-position: -66px 0; }

.comments {
  left: 15px; }

#popup-view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  z-index: 2; }

.pv-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 810px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 5px; }

.pv-image-wrapper {
  width: 55%;
  height: calc(100% - 25px);
  float: left; }
  .pv-image-wrapper .pv-image {
    width: 100%;
    height: calc(100% - 60px); }
  .pv-image-wrapper .pv-like-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f5f9f7; }
    .pv-image-wrapper .pv-like-wrapper #pv-like, .pv-image-wrapper .pv-like-wrapper #pv-dislike {
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: #e0e5e9;
      top: -7px;
      cursor: pointer;
      -webkit-transition: all 200ms ease-in-out 0ms;
      -moz-transition: all 200ms ease-in-out 0ms;
      -o-transition: all 200ms ease-in-out 0ms;
      transition: all 200ms ease-in-out 0ms; }
      .pv-image-wrapper .pv-like-wrapper #pv-like .pv-sprite, .pv-image-wrapper .pv-like-wrapper #pv-dislike .pv-sprite {
        position: relative;
        width: 33px;
        height: 30px;
        background: url("../images/like.png") no-repeat; }
    .pv-image-wrapper .pv-like-wrapper #pv-like.pv-active, .pv-image-wrapper .pv-like-wrapper #pv-dislike.pv-active {
      top: 0; }
      .pv-image-wrapper .pv-like-wrapper #pv-like.pv-active .pv-sprite .circle, .pv-image-wrapper .pv-like-wrapper #pv-dislike.pv-active .pv-sprite .circle {
        border-color: #FFFFFF; }
    .pv-image-wrapper .pv-like-wrapper #pv-like.pv-active {
      background-color: #28d0ce; }
      .pv-image-wrapper .pv-like-wrapper #pv-like.pv-active .pv-sprite {
        background-position: -99px 0; }
    .pv-image-wrapper .pv-like-wrapper #pv-dislike.pv-active {
      background-color: #d02828; }
      .pv-image-wrapper .pv-like-wrapper #pv-dislike.pv-active .pv-sprite {
        background-position: -132px 0; }
    .pv-image-wrapper .pv-like-wrapper #pv-like {
      right: 6px; }
      .pv-image-wrapper .pv-like-wrapper #pv-like .pv-sprite {
        background-position: -33px 0; }
    .pv-image-wrapper .pv-like-wrapper #pv-dislike {
      right: 72px; }
      .pv-image-wrapper .pv-like-wrapper #pv-dislike .pv-sprite {
        background-position: -66px 0; }

.pv-comments-wrapper {
  float: left;
  width: 45%;
  height: calc(100% - 25px);
  padding: 30px 15px 0 30px;
  box-sizing: border-box; }
  .pv-comments-wrapper #pv-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .pv-comments-wrapper #pv-close:after, .pv-comments-wrapper #pv-close:before {
      content: "";
      position: absolute;
      right: 0;
      top: 7px;
      width: 20px;
      height: 5px;
      background: #21b8c6; }
    .pv-comments-wrapper #pv-close:after {
      transform: rotate(45deg); }
    .pv-comments-wrapper #pv-close:before {
      transform: rotate(135deg); }

.pv-quantity-comments {
  font-family: open_sans, sans-serif, Arial;
  font-size: 24px;
  font-weight: 500;
  color: #8499a7; }

.pv-line {
  height: 2px;
  background-color: #d1dae3;
  margin-right: 15px; }

#pvc-cnt {
  padding-top: 5px;
  height: calc(100% - 125px);
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto; }
  #pvc-cnt li {
    list-style-type: none;
    padding: 5px 15px 0 10px; }
    #pvc-cnt li .pvc-name, #pvc-cnt li .pvc-time {
      font-family: open_sans, sans-serif, Arial;
      font-size: 11px;
      color: #95a7b3;
      padding-bottom: 3px; }
    #pvc-cnt li .pvc-name {
      float: left; }
    #pvc-cnt li .pvc-time {
      float: right; }
    #pvc-cnt li .pvc-text {
      border: 2px solid #f0f3f6;
      border-radius: 2px;
      padding: 10px;
      clear: both; }
      #pvc-cnt li .pvc-text span {
        font-family: open_sans, sans-serif, Arial;
        font-size: 11px;
        color: #607583; }

.pvc-input-form {
  width: calc(100% - 25px); }

#pvci-name {
  font-family: open_sans, sans-serif, Arial;
  font-size: 14px;
  width: 100%;
  height: 22px;
  outline: none;
  border: none;
  border-bottom: 2px solid #f0f3f6;
  padding-top: 5px;
  text-indent: 10px; }

.pvci-comment-wrapper {
  margin-top: 10px;
  position: relative; }

#pvci-comment {
  font-family: open_sans, sans-serif, Arial;
  font-size: 14px;
  width: calc(100% - 62px);
  height: 42px;
  border: 2px solid #f0f3f6;
  border-radius: 2px;
  outline: none;
  resize: none;
  padding: 2px 3px 2px 9px; }

#pvci-send {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #21b8c6;
  cursor: pointer; }

.pvci-sprite {
  position: relative;
  top: auto;
  background-position: -165px; }

:focus::-webkit-input-placeholder {
  color: transparent; }

::-webkit-input-placeholder {
  padding-left: 5px;
  padding-top: 5px; }

.add-file-wrapper {
  background-color: #FFFFFF;
  cursor: auto; }
  .add-file-wrapper #files {
    display: none; }
  .add-file-wrapper .af-label {
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 75px auto auto auto; }
    .add-file-wrapper .af-label .af-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #21b8c6;
      margin: 0 auto;
      -webkit-box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.35); }
      .add-file-wrapper .af-label .af-circle img {
        width: 20px;
        height: 20px; }
    .add-file-wrapper .af-label span {
      font-family: open_sans, sans-serif, Arial;
      font-size: 14px;
      font-weight: 500;
      color: #a0b0ba;
      display: inline-block;
      margin-top: 7px; }

.scroll-box::-webkit-scrollbar {
  width: 5px;
  height: 10px; }

.scroll-box::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #d2d9e1; }

.scroll-box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #21b7c5; }

@media only screen and (max-height: 690px) {
  .pv-wrapper {
    height: calc(100% - 40px); }

  .main-header {
    z-index: 1; } }
@media only screen and (max-height: 545px) {
  .vertical {
    height: 200px; } }
@media only screen and (max-width: 850px) {
  .pv-wrapper {
    width: calc(100% - 40px); }

  .pv-comments-wrapper {
    padding: 15px 15px 0 15px; } }
@media only screen and (max-width: 600px) {
  .pv-image-wrapper {
    width: 100%;
    height: calc(50% - 25px); }

  .pv-image-wrapper .pv-image {
    border-radius: 5px 5px 0 0; }

  .pv-comments-wrapper {
    width: 100%;
    height: calc(50% - 25px); }

  #pvc-cnt {
    height: calc(100% - 100px); } }
@media only screen and (max-width: 470px) {
  .main-header h1 {
    font-size: 16px;
    padding-left: 20px; }

  .horizontal {
    width: 236px; } }

/*# sourceMappingURL=general.css.map */
