@import 'fonts';
@import 'clear';

$mainFrame: 1024px;
$color: blue;
//$font-size: 24px;
$vertical: 200px;
$horizontal: 236px;

%clearFix:after{
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
@mixin font($font-size){
  font-family: open_sans, sans-serif, Arial;
  font-size: $font-size;
}
%box-shadow{
  -webkit-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
}
%background-image{
  background: no-repeat center center;
  background-size: cover;
}

%image-style {
  @extend %box-shadow;
  @extend %background-image;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  cursor: pointer;
  &:hover .down {
    opacity: 1;
  }
}

body{
  max-width: $mainFrame;
}
.main-wrapper{
  @include font(14px);
  background: #f0f3f6;
}

.main-header{

  font-weight: bold;

  h1 {color: #8499a7;
    @include font(24px);
    span {
      color: #21b8c6;
    }
  }
}
.image-wrapper{

}
.horizontal{
  @extend %image-style;
  width: 2 * $horizontal + 10px;
  height: $vertical;
}
.vertical{
  @extend %image-style;
  width: $horizontal;
  height: 2 * $vertical +10px;
}
.square{
  @extend %image-style;
  width: $horizontal;
  height: $vertical;
}
.down {
  width: 100%;
  height: 60px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  border-radius: 0 0 4px 4px;
  transition: opacity 0.4s ease-in-out;
}
.circle{
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #a0b0ba;

  z-index: 1;
  text-align: center;
  background: #ffffff;
  span{
    display: inline;
    font-family: open_sans arial sans-serif;
    font-weight: bold; // must be 500 but bold looks like in photoshop
    color: #0d7f8a;
    font-size: 11px;
    vertical-align: text-top;
  }
}

%sprite{
  position: absolute;
  top: 15px;
  width: 33px;
  height: 30px;
  background: url("../images/like.png") no-repeat;
}
.like{
  @extend %sprite;
  right: 13px;
  background-position: -33px 0;
}
.dislike{
  @extend %sprite;
  right: 68px;
  background-position: -66px 0;
}
.comments{
  @extend %sprite;
  left: 15px;
}
#popup-view{
  top: 0; left: 0; position: fixed; width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
  z-index: 2;
}
.pv-wrapper{
  @extend %box-shadow;
  @extend %clearFix;
  width: 810px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 5px;
}
.pv-image-wrapper{
  width: 55%;
  height: 575px;
  float: left;
  .pv-image{
    @extend %background-image;
    width: 100%;
    height: 515px;
  }
  .pv-like-wrapper{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f5f9f7;
    #pv-like, #pv-dislike{
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: #e0e5e9;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      top: -7px;
      cursor: pointer;
      .pv-sprite{
        position: relative;
        width: 33px;
        height: 30px;
        background: url("../images/like.png") no-repeat;
      }
    }
    #pv-like.pv-active, #pv-dislike.pv-active{
      top: 0px;
      .pv-sprite{
        .circle{
          border-color: #FFFFFF;
        }
      }
    }
    #pv-like.pv-active{
      background-color: #28d0ce;
      .pv-sprite{
        background-position: -99px 0;
      }
    }
    #pv-dislike.pv-active{
      background-color: #d02828;
      .pv-sprite{
        background-position: -132px 0;
      }
    }
    #pv-like{
      right: 6px;
      .pv-sprite{
        background-position: -33px 0;

      }
    }
    #pv-dislike{
      right: 77px;
      .pv-sprite {
        background-position: -66px 0;
      }
    }
  }
}
.pv-comments-wrapper{
  @extend %clearFix;
  float: left;
  width: 45%;
  position: relative;
  padding: 30px 10px 0 30px;
  box-sizing: border-box;
  #pv-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
      &:after, &:before{
        content:"";
        position: absolute;
        right: 0;
        top: 7px;
        width: 20px;
        height: 5px;
        background: #21b8c6;
      }
      &:after{
        transform: rotate(45deg);
      }
      &:before{
        transform: rotate(135deg);
      }
  }
}
.pv-quantity-comments{
  @include font(24px);
  font-weight: 500;
  color: #8499a7;
}
.pvc-cnt{
  width: 100%;
  height: 410px;
  border-bottom: 2px solid #d1dae3;
  overflow-y: scroll;
  margin-top: 10px;
  li{
    @extend %clearFix;
    list-style-type: none;
    padding-top: 5px;
    .pvc-name, .pvc-time{
      @include font(11px);
      color: #95a7b3;
      padding-bottom: 3px;
    }
    .pvc-name{
      float: left;
    }
    .pvc-time{
      float: right;
    }
    .pvc-text{
      border: 2px solid #f0f3f6;
      border-radius: 2px;
      padding: 10px;
      clear: both;
      span{
        @include font(11px);
        color: #607583;
      }
    }
  }
}

.pvc-input-form{
  @extend %clearFix;
}

#pvci-name{
  @include font(14px);
  width: 100%;
  height: 22px;
  outline: none;
  border: none;
  border-bottom: 2px solid #f0f3f6;
  padding-top: 5px;
}
.pvci-comment-wrapper{
  margin-top: 10px;
  position: relative;
}
#pvci-comment{
  @include font(14px);
  width: calc(100% - 54px);
  height: 42px;
  border: 2px solid #f0f3f6;
  border-radius: 2px;
  outline: none;
  resize: none;
}

#pvci-send{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #21b8c6;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  cursor: pointer;
}
.pvci-sprite{
  @extend %sprite;
  position: relative;
  top: auto;
  background-position: -165px;
}


:focus::-webkit-input-placeholder { color:transparent; }
::-webkit-input-placeholder {
  text-indent: 10px;
  padding-top: 5px;
}
